.header{
width: 100%;
height: fit-content;

top: 0;
float:none;
}

.case_study_img{
height: 100px;
width: 100px;
}

.heading{
    float: none;
    background-color: aliceblue;
    color: black;
}

.google_lens{
    height: 80px;
    width: 80px;
    }

.test1{

text-align: center;
padding: 10px;
background-color: black;
color: white;
}
.test_img2{
    width:200px;
    height: 200px;
}

.test_img3{
    width:250px;
    height: 200px;
}

.test_img4{
    width:250px;
    height: 200px;
}

.test_img5{
    width:400px;
    height: 200px;
}

.test_img6{
    width:250px;
    height: 200px;
}

.test_img7{
    width:250px;
    height: 200px;
}

.test_img8{
    width:250px;
    height: 200px;
}

.test_img9{
    width:250px;
    height: 200px;
}

.test_img10{
    width:250px;
    height: 200px;
}

.test2{

    text-align: center;
    padding: 10px;
    background-color: black;
    color: white;
    }

    .test3{

        text-align: center;
        padding: 10px;
        background-color: black;
        color: white;
        }
    
    hr{
    background-color: black;
    }

    .test4{

        text-align: center;
        padding: 10px;
        background-color: black;
        color: white;
        }
    
        .test5{

            text-align: center;
            padding: 10px;
            background-color: black;
            color: white;
            }
            .test6{

                text-align: center;
                padding: 10px;
                background-color: black;
                color: white;
                }

                .test7{

                    text-align: center;
                    padding: 10px;
                    background-color: black;
                    color: white;
                    }
        
                    .test8{

                        text-align: center;
                        padding: 10px;
                        background-color: black;
                        color: white;
                        }

                        .test9{

                            text-align: center;
                            padding: 10px;
                            background-color: black;
                            color: white;
                            }

                            .test10{

                                text-align: center;
                                padding: 10px;
                                background-color: black;
                                color: white;
                                }